!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0", name: "viewport"}
    %title= [@groups.size > 1 ? "#{@database.group.name} | #{@database.name}" : "PgBouncerHero", @title].compact.join(" / ")
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true
    = csrf_meta_tags
  %body
    .ui.fixed.menu
      .ui.container
        = link_to'PGBouncerHero', root_path, class: 'header item'
    .pusher
      .ui.main.container
        #flash.row= render partial: 'shared/flash_messages', flash: flash
        = yield
      = javascript_include_tag 'application'
      - if content_for? :inline_script
        = yield :inline_script
