<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
    <title>
      <%= [@groups.size > 1 ? "#{@database.group.name} | #{@database.name}" : "PgBouncerHero", @title].compact.join(" / ") %>
    </title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="ui fixed menu">
      <div class="ui container">
        <%= link_to'PGBouncerHero', root_path, class: 'header item' %>
      </div>
    </div>
    <div class="pusher">
      <div class="ui main container">
        <div class="row" id="flash">
          <%= render partial: 'shared/flash_messages', flash: flash %>
        </div>
        <%= yield %>
      </div>
      <%= javascript_include_tag 'application' %>
      <% if content_for? :inline_script %>
        <%= yield :inline_script %>
      <% end %>
    </div>
  </body>
</html>
