<div class="bg-white rounded-lg border border-gray-200 shadow-sm overflow-hidden">
  <%= link_to databases_path(group: database.group.name.parameterize, database: database.name.parameterize), class: "block no-underline text-inherit" do %>
    <div class="px-4 py-3 flex items-center justify-between border-b border-gray-100">
      <div>
        <div class="text-base font-bold text-gray-900"><%= database.name %></div>
        <div class="text-xs text-gray-500"><%= database.host %></div>
      </div>
    </div>
  <% end %>
  <turbo-frame id="card_<%= database.group.name.parameterize %>_<%= database.name.parameterize %>" src="<%= summary_path(group: database.group.name.parameterize, database: database.name.parameterize) %>" loading="lazy">
    <%= render partial: "card_loading_content" %>
  </turbo-frame>
</div>
